*{
margin: 0;
padding: 0;
font-family: sans-serif;
}


.background{
background-color: black;
width: 95%;
height: 738px;

}


.head1{
width: 100%;
height: 740px;
position: absolute;
border-bottom: 10px solid rgb(51, 51, 51);

}





#headimg{
width: 100%;
height: 740px;
filter:brightness(0.8);
background-size: cover;
margin-bottom: 100px;
position: absolute;
}

.gradiant{
    background-image: linear-gradient(0deg,transparent 50%,rgba(0,0,0,.7)),radial-gradient(50% 100%,transparent 0,rgba(0,0,0,.7) 100%);
    position: absolute;
    inset: 0;
}



.navbar {
    width:92%;
    position: absolute;
    top: 0;
    padding: 26px 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
 
.navbar ul li {
list-style: none;
display: inline-flex;
margin:0 20px;
justify-items: right ;
text-decoration: none;
}

.language {
font-size: 15px;
width: 93px;
height: 35px;
background: transparent;
color: white;
border: 1px solid white;
}

.login {
font-size: 17px;
font-style: normal;
width: 80px;
height: 35px;
background-color: red;
border: none;
border-radius: 3px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
}



#logo2{
width: 180px;
height: 60px;
list-style: none;
margin: left ;
justify-content: left;
}



.content {
color: white;
position: absolute;
text-align: center;
width: 100%;
top: 50%;
transform: translatey(-40%);
}

.content h1 {
font-size:62px;
}

.content h3
{
margin: 25px;
font-size: 25px;

}

.content p {

font-size: 20px;
margin: 25px;
}


.email {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.emailt{
    position: absolute;
    left: 400px;
    top: 30px;
    z-index: 2;
    color: rgb(101, 101, 101);
}


.content form input {
width: 500px;
height: 65px;

}


.content form button {
width: 250px;
height: 70px;
font-size: 36px;
background-color: rgb(228, 6, 6);
color: white;
border: none;
cursor: pointer;
}






.tv{
width: 100%;
height: 460px;
border-bottom: 10px solid rgb(51, 51, 51);
background-color: black;   
display: flex;
align-items: center;
justify-content: center;

}

.contenttext{
width:700px;
height:220px;
color: white;


}


.contenttext h1{
   padding: 20px 0;
   font-size: 48px;
}

.contenttext h2{
    font-size: 25px;
    text-decoration-style: solid;
    font-weight: 500;
}



.tvimage{
    width: 500px;
    height: 100%;
    background: transparent;
    align-items: center;
    justify-content: center;
    display: contents;
}

.tvimage1 {
width: 450px;
height: 350px ;

}


.phone{
    width: 100%;
    height: 460px;
    border-bottom: 10px solid rgb(51, 51, 51);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
.phoneimage {
    width: 35%;
    


}

.phoneimage1 {
width: 480px;
height: 350px;

}



.everywhere{
 width: 100%;
 height: 460px;
border-bottom: 10px solid rgb(51, 51, 51);
background-color: black;
display: flex;
align-items: center;
justify-content: center;

        }


.compimage{
width: 450px;

}

.compimage1 {
width: 500px;
height: 370px;
}



.kids{
  width: 100%;
  height: 460px;
 border-bottom: 10px solid rgb(51, 51, 51);
 background-color: black;
 display: flex;
 align-items: center;
 justify-content: center;
     }
    
     .kidsimage{
        width:550px;
        
        }
        
        .kidsimage1 {
        width: 500px;
        height: 370px;
        }






 .faq{
  width: 100%;
 height: 800px;
 border-bottom: 10px solid rgb(51, 51, 51);
background-color: black;
color: white;
align-items: center;
justify-content: center;
 text-align: center;
 padding: 70px 0px;
}

.faq h1 {
    font-size: 50px;
    align-items: center;
    justify-items: center;
margin-bottom: 40px;

} 


.questions{
max-width: 815px;
margin: 0 auto;
}


.question {
    position: relative;
    background-color: rgb(53, 53, 53);
    text-align: left;
    font-size: 25px;
    margin-bottom: 5px;
}

div.question svg {
    width: 30px;
    height: 30px;
    right: 10px;
    top: 15px;
    position: absolute;
    transform: rotate(45deg);
}

.header{
    display: block;
    padding: 20px 30px;
    border-bottom: 1px solid black;
    cursor: pointer;
}



.answer{
padding: 0 30px;
max-height: 0;
overflow: hidden;
}

input[type="checkbox"]:checked ~ .answer{
    padding: 30px 30px;
    max-height: 600px;
    }

input[type="checkbox"]{
display: none;

}

input[type="checkbox"]:checked ~ .header svg{
    transform: rotate(0deg);
}


  
.lustcont{
padding: 40px;

}

.lustcont p {

    font-size: 20px;
    margin: 25px;
    }
    
    
    .lustcont .email {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-size: 15px;
    
    }
    
    .lustcont  .emailt{
        position: absolute;
        left: 400px;
        top: 30px;
        z-index: 2;
        color: rgb(101, 101, 101);
    }
    
    
    .lustcont form input {
    width: 500px;
    height: 65px;
    
    }
    
    
    .lustcont form button {
    width: 250px;
    height: 70px;
    font-size: 36px;
    background-color: rgb(228, 6, 6);
    color: white;
    border: none;
    cursor: pointer;
    }













.lustbar{
  width: 100%;
  height: 460px;
  background-color: black;
  color: rgb(79, 79, 79);
  display: flex;
  align-items: center;
  justify-content: center;
}




.sitefooter {
width: 900px;
height: 290px;
align-items: center;
justify-content: center;
}

.uppertext{
width: 900px;
height: 20px;
margin-bottom :30px ;
}

.footerlinks{

width: 900px;
height: 128px;
align-content: center;
align-items: center;
justify-content: center;
}

.lustbarul{
display: grid;
grid-template-columns: 2fr 2fr 2fr 2fr ;
margin-bottom: 20px;
}



.lustbarul li {
    margin: 5px;
display: flex;
width: 160px;
height: 20px;

}






.language2 {
    font-size: 15px;
    width: 150px;
    height: 50px;
    background: transparent;
    color: white;
    border: 1px solid rgb(79, 79, 79);
    color: rgb(141, 141, 141);
    margin-bottom: 5px;

}                  



.lustul{
    list-style: none;
    
    
    }
    
    .language2 {
        font-size: 15px;
        width: 150px;
        height: 50px;
        background: transparent;
        color: white;
        border: 1px solid rgb(79, 79, 79);
        color: rgb(141, 141, 141);
        margin-bottom: 30px;
        


    }


